.top-row {
    background-color: rgb(238, 48, 187);
    color: white;
}

.label {
    text-align: left;
}

.label, .clickMessage, .correctClicks, .topScore {
    padding-top: .5em;
    padding-bottom: 1em;
}

.clickMessage {
    text-align: center;
}

.correctClicks {
    text-align: right;
}

.topScore {
    text-align: left;
}
