.wrapper {
  background: #ECEFF1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.jumbotron {
  background-color: #282c34;
  color: white;
}
  
.title, .lead {
  padding-left: 4rem;
}

.title {
  padding-top: 4rem;
  margin-top: 0px;
}

.lead {
  padding-bottom: 5rem;
}